/*
 *	Animations
 */
 @-webkit-keyframes sunrise {
     0% {top: auto; bottom: -200px; left: -200px; width: 120px; height: 120px;}
     25% {top: auto; bottom: 0px; left: 0px; width: 240px; height: 240px;}
     50% {top: auto; bottom: 25%; left: 100px; width: 480px; height: 480px;}
     70% {top: auto; bottom: 75%; left: 150px; width: 960px; height: 960px;}
     90% {top: auto; bottom: 125%; left: 0px; width: 1440px; height: 1440px;}
    100% {top: auto; bottom: 125%; left: 0px; width: 1440px; height: 1440px;}
}

@keyframes sunrise {
      0% {top: auto; bottom: -200px; left: -200px; width: 120px; height: 120px;}
     25% {top: auto; bottom: 0px; left: 0px; width: 240px; height: 240px;}
     50% {top: auto; bottom: 25%; left: 100px; width: 480px; height: 480px;}
     70% {top: auto; bottom: 75%; left: 150px; width: 960px; height: 960px;}
     90% {top: auto; bottom: 125%; left: 0px; width: 1440px; height: 1440px;}
    100% {top: auto; bottom: 125%; left: 0px; width: 1440px; height: 1440px;}
}

body{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin:0;
	padding:0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
 *	Introduction section
 */

.intro{
	display:flex;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:3;
	align-items:center;
	justify-content:center;
	min-width:780px;
	opacity:0;
	visibility:hidden;
	transition:.3s;
	overflow:auto;
}

.intro .container{
	display:block;
	position:relative;
	width:740px;
	height:auto;
	margin:auto;
	padding:48px 20px;
}

.intro header{
	display:block;
	position:relative;
	width:640px;
	height:112px;
	padding: 0;
}

.intro header .logo{
	display:block;
	position:relative;
	width:320px;
	height:100%;
	float:left;
}

.intro header .logo img{
	display:block;
	position:relative;
	width:auto;
	height:100%;
}

.intro header .team{
	display:block;
	position:relative;
	width:calc(100% - 320px);
	height:100%;
	float:right;
}

.intro header .team p{
	display:block;
	position:relative;
	margin:0;
	padding:0;
	font-size:10px;
	color:white;
}

.intro header .team p span{
	display: block;
	position:relative;

}

.intro header .team p span:first-child{
	width:110px;
	float:left;
}

.intro header .team p span:last-child{
	width:calc(100% - 110px);
	float:right;
}

.intro header:after{
	content:"";
	display:block;
	float:none;
	clear:both;
}

.intro h1{
	display:block;
	position:relative;
	width:640px;
	height:auto;
	padding:20px 0 20px 0;
	margin:0;
	text-transform:uppercase;
	font-size:28px;
	color:white;
	font-weight:normal;
}

.intro .presentation{
	display:block;
	position:relative;
	width:660px;
	height:auto;
}

.intro .presentation:after{
	content:"";
	display:block;
	float:none;
	clear:both;
}

.intro .presentation article{
	display:block;
	position:relative;
	width: 320px;
	height:410px;
	float:left;
	padding-right:30px;
	box-sizing: border-box;
}

.intro .presentation article p{
	color:white;
	font-size:14px;
	line-height:18px;
	padding:0 0 10px 0;
	margin:0;
	text-align:justify;
}

.intro .presentation article p:last-child{
	padding:0;
}

.intro .cta{
	display:flex;
	position:relative;
	width:610px;
	height:66px;
	padding:24px 0 0 0;
	box-sizing: border-box;
	float:none;
	clear:both;
	justify-content:center;
	align-items:center;

}

.intro .cta .copyright{
	display:block;
	position:absolute;
	width:auto;
	height:auto;
	top:24px;
	right:0;
	margin:0;
	padding:0;
	font-size:10px;
	color:white;
}

.intro .cta .button{
	display:flex;
	position:relative;
	width:auto;
	height:100%;
	border:solid 1px white;
	font-size:24px;
	text-transform: uppercase;
	box-sizing:border-box;
	align-items:center;
	justify-content:center;
	font-weight:bold;
	color:white;
	padding:8px 20px;
}

.intro .cta .button:hover{
	cursor:pointer;
}

.intro .partners{
	display:flex;
	position:absolute;
	width:90px;
	height:calc(100% - 141px);
	top:62px;
	right:20px;
	flex-direction:column;
	justify-content:space-between;
	align-items:flex-start;
}

.intro .partners .partner{
	display:block;
	position:relative;
	height:auto;
}

.intro .partners .partner.inck{
	width:64px;
}

.intro .partners .partner.nasa{
	width:50px;
}

.intro .partners .partner.spaceapp{
	width:42px;
}

.intro .partners .partner.impacthub{
	width:94px;
}

.intro .partners .partner img{
	display:block;
	position:relative;
	width:100%;
	height:auto;
}

.loading .intro{
	opacity:1;
	visibility:visible;
}


/*
 * Background & sun
 */

.background{
	display:block;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin:0;
	padding:0;
	background: #0d3d91; 
	z-index:1;
	overflow:hidden;
}

.sun{
	display:block;
	position:fixed;
	width:120px;
	height:120px;
	top:120px;
	left:calc(50% - 60px);
	background:#ffa600;
	box-sizing:border-box;
	border-radius:50%;
	-webkit-animation: sunrise 240s infinite linear;
	animation: sunrise 240s infinite linear; 
	opacity:0;
	visibility:hidden;
	z-index:2;
}

.running .sun{
	opacity:1;
	visibility:visible;
}

/*
 * Tool section
 */

.tool{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0;
	visibility: hidden;
	transition:.3s;
	overflow:auto;
	z-index:3;
}

.tool header{
	display:block;
	position:relative;
	z-index:2;	
	width:100%;
	height:auto;
	padding:40px 48px;
	box-sizing:border-box;
	margin:auto;
}

.tool header .logo{
	display:block;
	position:relative;
	width:210px;
	height:120px;	
}

.tool header .logo svg, header .logo img{
	display:block;
	position:relative;
	width:100%;
	height:auto;
}

.running .tool{
	opacity:1;
	visibility:visible;
	transition:.3s;
}

/*
 * app
 */

.app{
	display:block;
	position:relative;
	width:100%;
	min-width:800px;
	height:auto;
	margin:auto;
	box-sizing:border-box;
	padding:0 48px;
	z-index:2;
}

.app:before{
	content:"";
	display:block;
	position:absolute;
	width: 5px;
    height: calc(100% - 79px);
    background: white;
    top: 40px;
    left: 154px;
}

.app:after{
	content:"";
	display:block;
	position:absolute;
	width: 1px;
    height: calc(100% - 80px);
    background: white;
    top: 40px;
    left: 168px;
}


/*
 * Planet
 */
.planet{
	display:block;
	position:relative;
	width:100%;
	height:80px;
	transition:.3s;
}

.planet .planet__title{
	display:block;
	position:relative;
	width:120px;
	height:80px;

	padding:20px 0;
	line-height:40px;
	font-size:21px;
	color:white;
	box-sizing: border-box;
	opacity:.5;
	float:left;
}

.planet .planet__infos{
	display:flex;
	position:relative;
	width:180px;
	height:80px;
	padding-left:16px;
	line-height:13px;
	font-size:10px;
	color:white;
	box-sizing: border-box;
	float:left;
	justify-content:center;
	align-items:center;
}

.planet .planet__visual-wrapper{
	display:block;
	position:relative;
	width:calc(100% - 320px);
	height:80px;
	float:left;
}

.planet .planet__visual-wrapper:before{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:1px;
	top:40px;
	left:0;
	background:#eeeeee;
}

.planet.play{
	opacity:1;
}

.planet.play .planet__title{
	opacity:1;
}

.planet:hover{
	cursor:pointer;
}

/*
 * Visual
 */

.visual-wrapper{
	display:flex;
	position:absolute;
	top:0;
	left:0;
	width:80px;
	height:80px;
	margin-left:-40px;
	justify-content:center;
	align-items:center;
}

.visual{
	display:block;
	position:relative;
	border-radius:50%;
}

.visual.visual-1{
	width:14px;
	height:14px;
}

.visual.visual-2{
	width:20px;
	height:20px;
}

.visual.visual-3{
	width:30px;
	height:30px;
}

.visual.visual-4{
	width:32px;
	height:32px;
}

.visual.visual-5{
	width:34px;
	height:34px;
}

.visual.visual-6{
	width:48px;
	height:48px;
}

.visual.visual-7{
	width:64px;
	height:64px;
}

/*
 * Asteroids
 */

.asteroids{
	position:fixed;
    width: 6px;
    height: 6px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  	background-color:white;
  	transform:rotate(32deg);
  	opacity:0;
}

.asteroids:after{
    position: absolute;
    display: block;
    content: "";
    width: 150px;
    right: 1px;
    top: 0px;
    height: 6px;
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}

.asteroids.move{
	opacity:1;
  	transition: .6s;
}

.asteroids.position-1{
	right: 450px;
    top: -10px;
  	transform:rotate(32deg);
}

.asteroids.position-1.move{
    right: -150px;
    top: 400px;
}

.asteroids.position-2{
	right: 550px;
    top: -10px;
  	transform:rotate(32deg);
}


.asteroids.position-2.move{
    right: -150px;
    top: 500px;
}

.asteroids.position-3{
	right: 350px;
    top: -10px;
  	transform:rotate(32deg);
}

.asteroids.position-3.move{
    right: -150px;
    top: 300px;
}

.asteroids.position-4{
	right: 400px;
    top: -10px;
  	transform:rotate(32deg);
}

.asteroids.position-4.move{
    right: -150px;
    top: 350px;
}

.asteroids.position-5{
	right: 300px;
    top: -10px;
  	transform:rotate(32deg);
}

.asteroids.position-5.move{
    right: -150px;
    top: 250px;
}